.banner {
    position: absolute;
    float: left;
    bottom: 0;
    color: white;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding-left: 2em;
    letter-spacing: 2px;
}

.statement {
    margin: 0 10vw;
    line-height: 2;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

footer p{
    margin: 0 10vw;
    margin-bottom: 1em;
    line-height: 2;
}
